<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Styles-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <title>Offside | Biz Kimiz?</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand">
                <img src="../res/offside.svg" width="33" height="33" alt="Offside Logo">
                Offside</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Ana Sayfa

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="paun_drumu.html">Puan Durumu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="iletisim.html">İletişim
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="biz_kimiz.html">Biz Kimiz?
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 rounded-0" style="width: 25vh;" type="search"
                        placeholder="Ne aramıştınız?" aria-label="Ara">
                    <button class="btn btn-outline-light my-2 my-sm-0 rounded-0" type="submit">Ara</button>
                </form>
            </div>
        </div>
    </nav>

    <main role="main">
        <div class="container">
            <h1 class="h1 my-4 font-weight-light">Biz Kimiz?</h1>
        </div>

        <div class="container my-4">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text">
                        2006 yılından bugüne Spor Toto Teşkilat Başkanlığı'nın yasal elektronik bayii olarak hizmet
                        veren D
                        Elektronik Şans Oyunları ve Yayıncılık A.Ş. markası Offside.com.com; şans oyunlarının güvenilir
                        ve yenilikçi
                        sitesidir. <br> <br>

                        DOL bünyesinde yer alan Offside.com.com aynı zamanda Milli Piyango İdaresi'nin de yasal
                        elektronik bilet
                        bayisidir. Ayrıca 2006 yılından 20.07.2011 tarihine kadar Türkiye Jokey Kulübü (TJK) Genel
                        Müdürlüğü'nün
                        yasal elektronik bayiliğini de güvenle sürdüren Offside.com.com halen güncel at yarışı bülteni
                        ve yarış
                        sonuçları gibi bilgilere yer vermektedir. <br> <br>

                        Üyelerine İddaa maçlarını canlı izleme imkanı sunan Offside.com.com, bir çok İddaa liginden
                        maçları, hem web
                        sitesi üzerinden hem de mobil platformlarından Kasım 2012'den bu yana yayınlayan sanal bayidir. <br> <br>

                        Bahsin yeni fenomenlerini buluşturmayı ve üyelerine birlikte kazanmanın yolunu açmayı hedefleyen
                        Offside.com.com, milyonlarca üyeyi bir araya getiren İddaa kupon paylaşım platformu KUPONDAŞ'ı
                        hizmete
                        açmıştır. <br> <br>

                        Konusunda uzman yorumcular tarafından hazırlanan İddaa kuponları, güne özel seçimler ve
                        Offside.com TV’de
                        yayınlanan yorum videolarıyla,
                        Anlaşılır ve kapsamlı maç istatistik bilgisiyle,
                        Kullanıcı dostu tasarımıyla,
                        Kazançları 7/24 tüm anlaşmalı bankaların hesaplarına ANINDA yatırmasıyla,
                        Gelişmiş iPhone, iPad ve Android aplikasyonları ve ayrıca mobil cihazlardan bahis
                        yapabilmelerini
                        sağlayan cihaz uyumlu mobil web sitesi ile,
                        Milli Piyango İdaresi’nin yasal elektronik bilet bayisi olma ve Spor Toto oynatma özelliğiyle,
                        Türk sporuna ve sporseverine kaynak yaratan projeleriyle,
                        ve tüm bunları üyeleri sayesinde gerçekleştiren "Türkiye’nin Bahis Sitesi"dir.
                    </p>
                </div>
            </div>
            <footer class="pt-4 my-md-4 pt-md-4 border-top">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="text-dark">Offside © 2019-2020</span>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>