<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Styles-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <title>Offside | İletişim</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand">
                <img src="../res/offside.svg" width="33" height="33" alt="Offside Logo">
                Offside</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Ana Sayfa

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="paun_drumu.html">Puan Durumu</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="iletisim.html">İletişim
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="biz_kimiz.html">Biz Kimiz?</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 rounded-0" style="width: 25vh;" type="search"
                        placeholder="Ne aramıştınız?" aria-label="Ara">
                    <button class="btn btn-outline-light my-2 my-sm-0 rounded-0" type="submit">Ara</button>
                </form>
            </div>
        </div>
    </nav>

    <main role="main">
        <div class="container my-5">
            <div class="card h-100">
                <div class="card-header"
                    style="background: url('https://besthqwallpapers.com/Uploads/6-2-2018/39712/camp-nou-football-stadium-barcelona-soccer-spain.jpg') -150px bottom">
                    <div class="row d-flex justify-content-center">
                        <h3 class="text-white mb-0 pb-4 pt-5 font-weight-bold h1">Bize Ulaşın</h3>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="list-inline pb-5">
                            <div class="list-inline-item px-2">
                                <a href="#">
                                    <i class="fab fa-facebook-f fa-lg" style="color: white;"></i>
                                </a>
                            </div>
                            <div class="list-inline-item px-2">
                                <a href="#">
                                    <i class="fab fa-twitter fa-lg" style="color: white;"></i>
                                </a>
                            </div>
                            <div class="list-inline-item px-2">
                                <a href="#">
                                    <i class="fab fa-instagram fa-lg" style="color: white;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body mx-4">
                    <form action="">
                        <div class="form-group">
                            <label for="email_input">E-Posta Adresi</label>
                            <input type="email" class="form-control" id="email_input" aria-describedby="email_help">
                            <small id="email_help" class="form-text text-muted">Lütfen e-posta bilgisini doğru giriniz.</small>
                        </div>
                        <div class="form-group">
                            <label for="subject_input">Konu</label>
                            <input type="text" class="form-control" id="subject_input" aria-describedby="subject_help">
                            <small id="subject_help" class="form-text text-muted">Konuyu sade ve anlaşılır bil dilde belirtmeye dikkat ediniz.</small>
                        </div>
                        <div class="form-group">
                            <label for="content_input">Mesaj</label>
                            <textarea id="content_input" class="form-control" rows="3"
                                style="height: 178px; resize: none"></textarea>
                        </div>
                        <button type="submit" class="btn btn-info btn-lg btn-block">
                            Gönder
                        </button>
                    </form>
                </div>
            </div>
            <footer class="pt-4 my-md-4 pt-md-4 border-top">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="text-dark">Offside © 2019-2020</span>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>